# {{ ansible_managed }}
description "Upstart Script for {{ init_service_name }}"
env NAME={{ init_service_name }}
env USER=root
start on (filesystems) and started docker
stop on runlevel [!2345]

respawn

script
	# modify these in /etc/default/$UPSTART_JOB (/etc/default/docker-registry)
	DOCKER=/usr/bin/docker
	DOCKER_OPTS=
	if [ -f /etc/default/$UPSTART_JOB ]; then
		. /etc/default/$UPSTART_JOB
	fi
	echo "exec '$DOCKER' $DOCKER_REGISTRY_OPTS $UPSTART_JOB"
	exec "$DOCKER" $DOCKER_REGISTRY_OPTS $UPSTART_JOB
end script