# Docker Registry Upstart and SysVinit configuration file

# Customize location of Docker binary.
DOCKER="/usr/bin/docker"

# Use DOCKER_OPTS to modify the daemon startup options.
DOCKER_REGISTRY_OPTS="start -a"